# .npmrc

# 设置下载源为淘宝镜像，淘宝证书到期了，换了
registry=https://registry.npmjs.org/
; https://registry.npm.taobao.org/
; # 设置代理服务器
; proxy=http://proxy.example.com:8080
; https-proxy=http://proxy.example.com:8080

; # 设置包的缓存路径
; cache=/path/to/npm-cache

; # 设置全局安装包的路径
; prefix=/path/to/npm-global

; # 设置特定作用域的包下载源
; @my-scope:registry=https://npm.example.com/

